<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="TravelKu"
        android:theme="@style/Theme.TravelKu">
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PilihKotaActivity" />
        <activity android:name=".KatalogTravelActivity" />
        <activity android:name=".PilihKursiActivity" />
        <activity android:name=".DataPenumpangActivity" />
        <activity android:name=".DetailPemesananActivity" />
        <activity android:name=".RiwayatPemesananActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
    </application>
</manifest>
